<section id="cv">
    <div class="container">
        <h2><strong>Course Work & Experiences</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Education</strong></h4>

                <ul class="timeline">
                  <li>
                    <h5><strong>Undergraduate Mechanical Engineering</strong> </h5>
                    <em class="font-italic">Bachelors of Science<br> Colorado State University, CO</em>
                    <p class="year p-2 d-flex justify-content-center">2019 - 2023</p>
                  </li>
                  <li>
                    <h5>Building Ai</h5>
                    <em class="font-italic">Intro to Ai programming and development <br> University of Helsenki, Finland</em>
                    <p class="year p-2 d-flex justify-content-center">2021 - 2022</p>
                  </li>
                  <li>
                    <h5>Google Project Management Certificate</h5>
                    <em class="font-italic">Project Management Certificate <br> Google, Coursera</em>
                    <p class="year p-2 d-flex justify-content-center">2021 - 2022</p>
                  </li>
                  <li>
                    <h5>Templeton High School</h5>
                    <em class="font-italic">GED <br> Templeton, CA</em>
                    <p class="year p-2 d-flex justify-content-center">2015 - 2019</p>
                  </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Experiences</strong></h4>
                <ul class="timeline">
                  <li>
                    <h5>Flare Data Manager</h5>
                    <em>Movement For Life, CA</em>
                    <div class="d-flex flex-row">
                      <p class="year p-2 d-flex justify-content-center">2018 - present</p>
                      <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">
                        +
                        Detail
                      </button>
                    </div>
                    <p *ngIf="alternanceIsShown">
                      As a manager you have to wear many different kinds of hats; here are a few of the many I wear on a daily basis:<br>
                      <strong>Hat 1:</strong> Team Check-Ins and project briefings<br>
                      <strong>Hat 2:</strong> Day to day Flare data updates<br>
                      <strong>Hat 3:</strong> Meeting with key stakeholders  about current project and identify projects that are coming up that we need to begin prepping and planning for<br>
                      <strong>Téchnologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
                    </p>
                  </li>
                  <li>
                    <h5>Front-End Developer, Contract</h5>
                    <em>Nita beckComm Communications</em>
                    <div class="d-flex flex-row">
                      <p class="year p-2 d-flex justify-content-center">2021 - 2021 (2 months)</p>
                      <button (click)="detailOnClick('freelanceScotfy_detail')" type="button" class="btn btn-primary">
                        +
                        Detail
                      </button>
                    </div>
                    <p *ngIf="freelanceScotfyIsShown">
                      <strong>Tâche 1:</strong> Mise en place d'un gestionnaire de thèmes (couleurs, logo). <br>
                      <strong>Tâche 2:</strong> Mise en place d'un gestionnaire de dossiers virtuels qui peuvent contenir des apps Qlik Sense.<br>
                      <strong>Tâche 3:</strong> Développement d'une interface de sauvegarde des ressources.<br>
                      <strong>Tâche 4:</strong> Création de pages web personnalisables : Qlik Sense Mashups (En cours).<br>
                      <strong>Téchnologies:</strong> Java, J2EE, Angular 11, Angular Materials, pgSql, Qlik Sense
                    </p>
                  </li>
                  <li>
                    <h5>Mechanical Engineer/ Robotics Intern</h5>
                    <em>Wolf Robotics, Fort Collins, CO</em>
                    <div class="d-flex flex-row">
                      <p class="year p-2 d-flex justify-content-center">2021 - 2021 (6 months)</p>
                      <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">
                        +
                        Detail
                      </button>
                    </div>
                    <p *ngIf="alternanceIsShown">
                      <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                      <strong>Mission 2:</strong> Amélioration d'une application de création de plans de préventions.<br>
                      <strong>Mission 3:</strong> Application de mise en forme des commandes du verre, dans l’intérêt d'une
                      meilleure lisibilité des priorités pour les équipes de production. <br>
                      <strong>Téchnologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
                    </p>
                  </li>
                  <li>
                    <h5>Flare UI Clean-Up, Contract</h5>
                    <em>Smart Output, UT</em>
                    <div class="d-flex flex-row">
                      <p class="year p-2 d-flex justify-content-center">2021 - 2021 (1 month)</p>
                      <button (click)="detailOnClick('freelance_detail')" type="button" class="btn btn-primary">
                        +
                        Detail
                      </button>
                    </div>
                    <p *ngIf="freelanceIsShown">
                      <strong>Mission 1:</strong> Développement d'une application de notation de fournisseurs par les acheteurs.<br>
                      <strong>Mission 2:</strong> Maintenance évolutive et corrective d'applications.<br>
                      <strong>Téchnologies:</strong> JAVA 8, Spring, Angular 8, Angular Materials, MySql
                    </p>
                  </li>
                  <li>
                    <h5>Molly and Toni's Home</h5>
                    <em>Sacramento, CA</em>
                    <div class="d-flex flex-row">
                      <p class="year p-2 d-flex justify-content-center">2020 - 2021(3 months)</p>
                      <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">
                        +
                        Detail
                      </button>
                    </div>
                    <p *ngIf="alternanceIsShown">
                      <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                      <strong>Mission 2:</strong> Amélioration d'une application de création de plans de préventions.<br>
                      <strong>Mission 3:</strong> Application de mise en forme des commandes du verre, dans l’intérêt d'une
                      meilleure lisibilité des priorités pour les équipes de production. <br>
                      <strong>Téchnologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
                    </p>
                  </li>
                  <li>
                    <h5>Nunno Corp</h5>
                    <em>Paso Robles, CA</em>
                    <div class="d-flex flex-row">
                      <p class="year p-2 d-flex justify-content-center">2018 - 2018 (5 months)</p>
                      <button (click)="detailOnClick('stage_detail')" type="button" class="btn btn-primary">
                        +
                        Detail
                      </button>
                    </div>
                    <p *ngIf="stageIsShown">
                      <strong>Multilingue:</strong> Mise en place d’un système de gestion de la langue afin de
                      permettre à l’utilisateur de choisir la langue des interfaces, des messages et des logs.<br>
                      <strong>Clé de licence:</strong> Validation du logiciel à l’aide d’une clé de licence basée
                      sur le nom d’utilisateur Windows.<br>
                      <strong>Technologies:</strong> C#, .NET, Chiffrement AES-256
                    </p>
                  </li>
                  <li>
                    <h5>IT Support Aide</h5>
                    <em>Templeton Unified School District, CA</em>
                    <div class="d-flex flex-row">
                      <p class="year p-2 d-flex justify-content-center">2015 - 2018</p>
                      <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">
                        +
                        Detail
                      </button>
                    </div>
                    <p *ngIf="alternanceIsShown">
                      <strong>Mission 1:</strong> Application de gestion des camions entrant sur le site<br>
                      <strong>Mission 2:</strong> Amélioration d'une application de création de plans de préventions.<br>
                      <strong>Mission 3:</strong> Application de mise en forme des commandes du verre, dans l’intérêt d'une
                      meilleure lisibilité des priorités pour les équipes de production. <br>
                      <strong>Téchnologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
                    </p>
                  </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="container row">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Langues</strong></h4>
                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/spain-flag-icon-13.jpg" width="20"
                                    alt="Intermediate School Knwoledge"><strong> Spanish</strong> <i class="val">
                                    Intermediate/Beginner</i></span>
                        </div>

                        <div class="noProgress langue">
                            <span class=""><img src="assets/images/round-united-states-of-america-flag-sticker-1541455156.6120026.png" width="20"
                                    alt="drapeau du royaume uni"><strong> Englsih</strong> <i class="val"> Fluent</i></span>
                        </div>

                

                    </div>
                </div>
                <div class="container row">
                    <div class="mt-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <h4><strong>Hobbies</strong></h4>
                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="volleyBallIcon"></fa-icon><strong> Sport</strong> <i class="val"> Basketball and Track</i>
                            </span>
                        </div>

                        <div class="noProgress langue">
                            <span>
                                <fa-icon [icon]="planeIcon"></fa-icon><strong> Traveling</strong> <i class="val">
                                    23+ countries visited</i>
                            </span>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
