<section id="about">
    <div class="container">
        <h2><strong>A bit about me</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/portfolio.PNG" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="www.linkedin.com/in/kirk-russell-09" rel="tooltip" target="_blank"  title="Suivez moi sur Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    
                </div>
               
              
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Developer and &amp; Manager</h3>
                <p class="font-italic">
                    I am a young developer studying mechanical engineering with a work history in business, sales, data administration, and technical prject managerment
                    
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong>CO, United States of America</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Fort Collins</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:kirkfrussell@gmail.com">
                                        kirkfrussel@gmail.com</a></strong>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> February 9th</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong>Mechanical Engineering Degree</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Learning </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    I have a wide set of skills which I hope I can apply to help you in whatever projcet you have set for you or your company.
                </p>
            </div>
        </div>
    </div>
</section>
